/* You can add global styles to this file, and also import other style files */
.face{
    background-image: url(https://www.xtrafondos.com/wallpapers/resized/rick-y-morty-fanart-2020-6344.jpg?s=large);
    background-repeat: no-repeat;
    background-size:cover;
}


